@import "header";
@import "mixin";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "footer";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
}
